<p>&nbsp;</p>
<h2 class= "page-section-heading text-center text-secondary mb-0"><strong>How to get started at NSW University</strong></h2>
<p>&nbsp;</p>
<p class="page-section-heading text-center text-gray">Welcome to NSW University and congratulations on your offer of study, you have done well!</p>

<p class="page-section-heading text-center text-gray">Fusce neque nisi, vulputate eget posuere eu, blandit eu turpis. Maecenas molestie iaculis erat et aliquet. Suspendisse potenti. </p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>


<div class = "row justify-content-center">
    <div class="col-md-5 col-lg-4 mb-5">
        <%= image_tag "study1", class: "img-fluid" %>
    </div>
    <div div class="col-md-5 col-lg-4 mb-5 background-alternative-hue px-3">
      <h3>Inspired Digital Learning</h3>
        <p>Maecenas sit amet rhoncus velit. Nullam elit nunc, condimentum eget sapien accumsan, maximus dignissim est. Sed dui eros, pharetra lacinia lorem sed, laoreet mattis urna. Maecenas fringilla aliquam semper. Integer tempor pharetra blandit. Nam vel libero cursus, convallis erat eget, ultricies dui. Quisque luctus lorem sed odio porta scelerisque. Pellentesque nunc dui, porta et condimentum vitae, semper et metus. In mattis accumsan ipsum. Proin et lacinia nibh, at condimentum diam. Duis molestie turpis eu nunc rhoncus feugiat. </p>
    </div>
</div>

<div class = "row justify-content-center">

    <div div class="col-md-5 col-lg-4 mb-5 background-alternative-yellow px-3">
      <h3>Great Graduate Outcomes</h3>
        <p>Vivamus sit amet posuere odio. Praesent ullamcorper erat id lacus aliquam consequat. Etiam lacinia id est quis tristique. Vivamus dictum magna quam, at tempor sapien sollicitudin et. Duis luctus, nibh ac consectetur lobortis, ex nibh scelerisque quam, convallis dapibus enim tortor eget enim. Pellentesque ante est, congue eu massa ac, dapibus venenatis ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque non fermentum arcu. In a velit mi. Vestibulum at eros ex. </p>
    </div>

    <div class="col-md-5 col-lg-4 mb-5">
        <%= image_tag "study2", class: "img-fluid" %>
    </div>

</div>    

<div class = "row justify-content-center">
    <div class="col-md-5 col-lg-4 mb-5">
        <%= image_tag "study3", class: "img-fluid" %>
    </div>
    <div class="col-md-5 col-lg-4 mb-5 background-alternative-hue px-3">
      <h3>Work Integrated Learning</h3>
        <p>Phasellus luctus nulla felis. Ut luctus justo sit amet leo finibus, at vestibulum sapien consectetur. Praesent ut fringilla ligula. Aenean faucibus, orci ac condimentum pellentesque, mi mi vulputate orci, quis imperdiet dolor magna hendrerit elit. Ut quis felis viverra, vestibulum neque eget, porttitor massa. Vestibulum eget erat at tellus mollis tincidunt at nec mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    </div>
</div>

<div class = "row justify-content-center">
    <div class="col-md-3 col-lg-3 mb-5 text-center">
        <%= image_tag "study4", class: "img-fluid" %>
        <br/><br/>
        <h4>Library</h3>
        <p>Phasellus luctus nulla felis. Ut luctus justo sit amet leo. </p>
    </div>
    <div class="col-md-3 col-lg-3 mb-5 text-center">
        <%= image_tag "study5", class: "img-fluid" %>
        <br/><br/>
        <h3>Student Voice</h3>
        <p>Phasellus luctus nulla felis. Ut luctus justo si. </p>
    </div>
        <div class="col-md-3 col-lg-3 mb-5 text-center">
        <%= image_tag "study6", class: "img-fluid" %>
        <br/><br/>
        <h3>Support</h3>
        <p>Phasellus luctus nulla felis. Ut luctus. </p>
    </div>
</div>

